<section class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <div style="display: flex;justify-content: space-between;">
            <div>
                <h3>Thông tin cơ bản</h3>
                <ul>
                    <li><i>Họ và tên:  </i> Nguyễn Trần Nhật Trường</li>
                    <li><i>Ngày sinh:  </i>20/04/2003</li>
                    <li><i>Địa chỉ:  </i>Thủ Đức, TpHCM</li>
                    <li><i>Email:  </i> nhattruong200403@gmail.com</li>
                    <li><i>Số điện thoại:  </i> 0935200403</li>
                </ul>
            </div>
            <div>
                <h3>Kỹ năng</h3>
                <ul>
                    <li><i>BackEnd:  </i> C#, Java</li>
                    <li><i>FrontEnd:  </i> HTML, CSS, JavaScript, framework Vuejs</li>
                    <li><i>Database:  </i>SQLServer, MySQL</li>
                    <li><i>Designer:  </i> Canva, PhotoShop</li>
                </ul>
            </div>
            <div>
                <h3>Sở thích</h3>
                <ul>
                    <li><i>Khi buồn:  </i>Nghe nhạc tâm trạng, xem phim</li>
                    <li><i>Khi vui:  </i>Nghe nhạc remix, chơi game</li>
                    <li><i>Khi code:  </i>Nghe nhạc chill</li>
                    <li><i>Thường ngày:  </i>Tập thể thao nâng cao sức khỏe</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<style>
    i{
        font-weight: bold;
    }
</style>